<html>
<head>
    <script type="text/javascript" src="/js/functions.js"></script>
    <script src="/soap/ajax/8.0/connection.js"></script>
    <script language="javascript" src="https://www.salesforce.com/services/lib/ajax/beta3.3/sforceclient.js?browser=true" type="text/javascript"></script>
 
    <script>
    <!--
    
    /*  perform the following
    * (x) Hydrate calling case object   
    * (x) pass case into apex function/webservice
    * (x) get the returned ID
    * () add comment to original case
    * (x) redirect to newly opened case page    
    */
    
    var originalCaseId = "{!Case.Id}";
    //testing
    var newCaseId = "";
    var rmaCaseRecordTypeId = "0123000000008eDAAQ";
   
   	function initPage() {
       sforceClient.registerInitCallback(setup);
       sforceClient.init("{!API.Session_ID}", "https://na3.salesforce.com/services/Soap/u/8.0", true);
       
    }
    
    //Use this function as the entry point for your DHTML and JAVASCRIPT processing
    function setup() {      
      main();       
    }
   
    
    //begin 
    
    
    
    function main() {
    	//hydrate the salesforce object
    	var caseQuery = "Select c.Subject, c.OwnerId, c.Id, c.Description, c.ContactId, c.CaseNumber, c.AccountId From Case c where c.id = '" + originalCaseId + "'";
	    var singleCaseArray = query(caseQuery);  
	    	
	    var originalCase = singleCaseArray[0];

  	   	var newCase = new Sforce.Dynabean("Case");
  	   	
  	   	//set attributes
  	   	newCase.set("recordtypeid", rmaCaseRecordTypeId);
  	   	newCase.set("subject", originalCase.get("subject"));
  	   	newCase.set("description", originalCase.get("description"));
  	   	newCase.set("contactid", originalCase.get("contactId"));
  	   	newCase.set("accountId", originalCase.get("accountId"));
  	   	newCase.set("related_case__c", originalCase.get("casenumber"));
  	   	
  	   	var result = newCase.save();
    	
    	if (result.success == true) {
  	   		newCaseId = result.id;
  	   		
  	   		//then add comment to original case and new case
			addCommentToCase(originalCase.get("id"), "RMA case created from this case: https://na3.salesforce.com/" + newCaseId);
  	   		addCommentToCase(newCaseId, "This case automatically created from case " + originalCase.get("casenumber"));

 	   		
    	//redirect after processing completes
    		redirectToId(newCaseId);    	
    	}

	    
    }
    
    function addCommentToCase(caseId, commentBody) {
    	var newComment = new Sforce.Dynabean("CaseComment");
   		newComment.set("parentId", caseId);
   		newComment.set("commentbody", commentBody);
   		newComment.set("ispublished", false);
   		var commentResult = newComment.save();
    }
    
    function redirectToId(id) {
    	location.href = "/" + id;
    }
    
    //returns variable of records from salesforce
    function query(queryString) {
    
    		//queryString = queryString.trim();
    	
     	if (queryString.length == 0) {
     		return;
     	}
     	
     	var result = sforceClient.query(queryString); 
     	
     	if (result.className != "Fault") {
     		return result.records;
     	} else {
     		alert("There was an error: " + result.toString());
     	}
    	
    }
    
    -->
    </script>
</head>

<body onload="initPage()">
</body>
</html>