<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>IntApp RapidOrder</title>
    <link  href="/dCSS/Theme2/default/common.css" type="text/css" media="handheld,print,projection,screen,tty,tv" rel="stylesheet" >
    <link  href="/dCSS/Theme2/default/custom.css" type="text/css" media="handheld,print,projection,screen,tty,tv" rel="stylesheet" >
    <link  href="/css/assistive.css" type="text/css" media="aural,braille,embossed" rel="stylesheet" >
    <script language="javascript" src="https://www.salesforce.com/services/lib/ajax/beta3.3/sforceclient.js?browser=true" type="text/javascript"></script>
    <link rel="shortcut icon" href="https://na3.salesforce.com/favicon.ico">

	<script>
	<!--
	
	var contractId = "";
	var accountId = "";
	var accountName = "";
	var contractOwner = "";
	var contractNumber = "";
	var appliance1 = "";
	var appliance2 = "";
	var contractProdUsers = 0;
	var contractProdDatasources = 0;
	var orderLineItems = new Array();
	
	function initPage() {
       sforceClient.registerInitCallback(setup);
       sforceClient.init("{!API.Session_ID}", "https://na3.salesforce.com/services/Soap/u/7.0", true);
       
    }
    
    //Use this function as the entry point for your DHTML and JAVASCRIPT processing
    function setup() {      
      calculateOrderDetails();
      displayOrderDetails();       
    }

	function calculateOrderDetails() {
		contractId = "{!Contract.Id}";
  		accountId = "{!Contract.AccountId}";
  		accountName = "{!Contract.Account}";
  		contractNumber = "{!Contract.ContractNumber}";
  		contractOwner = "{!Contract.OwnerFullName}";
  		appliance1 = "{!Contract.Appliance_Model_1__c}";
  		appliance2 = "{!Contract.Appliance_Model_2__c}";
  		contractProdUsers = "{!Contract.Number_of_users__c}";
		contractProdDatasources = "{!Contract.Additional_Data_Sources__c}";
  		
  		if (appliance1 != "") {
  			orderLineItems.push(appliance1);
  		}
  		
  		if (appliance2 != "") {
  			orderLineItems.push(appliance2);
  		}
   }
   
function processOrder() {
    	//create new order header bean to be saved
    	var orderHeader = new Sforce.Dynabean("order_header__c");
    	//set record type to purchase
    	orderHeader.set("RecordTypeId", "0125000000099dYAAQ");	
    	orderHeader.set("Account__c", accountId);
    	orderHeader.set("Contract__c", contractId);
    	
    	//technical contact
    	if (document.shipInfoForm.techContactDropdown.value != "none") {
    		orderHeader.set("Tech_Contact__c", document.shipInfoForm.techContactDropdown.value);
    	}
    	
    	//shipping info
    	orderHeader.set("Recipient_Name__c", document.shipInfoForm.shipName.value);
    	orderHeader.set("Shipping_Address__c", document.shipInfoForm.shipAddress.value);
    	orderHeader.set("Shipping_City__c", document.shipInfoForm.shipCity.value);
    	orderHeader.set("Shipping_State__c", document.shipInfoForm.shipState.value);
    	orderHeader.set("Shipping_Postal_Code__c", document.shipInfoForm.shipPostalCode.value);
    	orderHeader.set("Shipping_Country__c", document.shipInfoForm.shipCountry.value);
    	orderHeader.set("Phone__c", document.shipInfoForm.shipPhone.value);
    	
    	//need to get the ID from the recently created orderHeader
    	
    	var result = orderHeader.save();
    	var orderHeaderId = "";
    	
    	if (result.success == true) {
    		var orderHeaderId = result.id;
    		//create order line items that reference this order header, for each found order line item
    		
    		var orderHeader = new Sforce.Dynabean("order_header__c");
    		
    		for (var i=0;i<orderLineItems.length;i++) {
  			
		  			var product = getProductInfo(orderLineItems[i]);
		  			var productName = "Not Found";
		  			var productDatasources = "Not Found";
		  			var productId = "0000";
		  			var productUsers = "Not Found";
		  			
		  			//if product was found, enter the info
		  			if (product != null) {
		  				productName = product.get("Name");
		  				productId = product.get("Id");
		  				
		  				//check if there is a non default value specified for datasources or users
		  				if (contractProdUsers == 0) {
		  					productUsers = product.get("DefaultUsers__c");
		  				} else {
		  					productUsers = contractProdUsers;					
		  				}
		  				
		  				if (contractProdDatasources == 0) {
		  					productDatasources = product.get("DefaultNumberDatasources__c");
		  				} else {
		  					productDatasources = contractProdDatasources;
		  				}
		  			}
		  			
		  			var orderDetail = new Sforce.Dynabean("order_detail__c");
		  			orderDetail.set("Order_Header__c", orderHeaderId);
		  			orderDetail.set("Read_Datasources__c", productDatasources);
		  			orderDetail.set("Write_Datasources__c", productDatasources);
		  			//hardcoded value to set all license features to all
		  			orderDetail.set("License_Features__c", "All");
		  			orderDetail.set("Licensed_Users__c", productUsers);
		  			orderDetail.set("Product__c", productId);

					var orderDetailResult = orderDetail.save();		  			
					if (orderDetailResult.success != true) {
						alert(orderDetailResult);
					} else {
						//alert(orderDetailResult)
					}
		  	}
    		
    		alert("order header saved as " + orderHeaderId);
    		window.open("/" + orderHeaderId);
    		self.close();
    	} else {		//error has occurred
    	
    	}  	    	
    }
   
   
   function populateShipInfo() {
   		var contactId = document.shipInfoForm.shipContactDropdown.value;
   		//alert(contactId);
   		
   		if (contactId != "none") {
   		
	   		var contactQuery = "Select c.Id, c.AccountId, c.LastName, c.FirstName, c.MailingStreet, " +
	   		" c.MailingCity, c.MailingState, c.MailingPostalCode, c.MailingCountry, c.Phone From Contact c where c.Id = '" + contactId + "'";
	   		
	   		var contacts = query(contactQuery);
	   		var contact = contacts[0];
	
	   		document.shipInfoForm.shipName.value = contact.get("FirstName") + " " + contact.get("LastName");
	   		document.shipInfoForm.shipAddress.value = contact.get("MailingStreet");
	   		document.shipInfoForm.shipCity.value = contact.get("MailingCity");
	   		document.shipInfoForm.shipState.value = contact.get("MailingState");
	   		document.shipInfoForm.shipPostalCode.value = contact.get("MailingPostalcode");
	   		document.shipInfoForm.shipCountry.value = contact.get("MailingCountry");
	   		document.shipInfoForm.shipPhone.value = contact.get("Phone");
   		
   		} else {	//reset values if "Not Sure" was chosen
   			document.shipInfoForm.shipName.value = "";
	   		document.shipInfoForm.shipAddress.value = "";
	   		document.shipInfoForm.shipCity.value = "";
	   		document.shipInfoForm.shipState.value = "";
	   		document.shipInfoForm.shipPostalCode.value = "";
	   		document.shipInfoForm.shipCountry.value = "";
	   		document.shipInfoForm.shipPhone.value = "";
   		}
   		
   		
   }   
   
   function displayOrderDetails() {		
   		
   		//display order information
   		document.getElementById("accountName").innerHTML = accountName;
   		document.getElementById("contractNumber").innerHTML = contractNumber;
   		document.getElementById("contractOwner").innerHTML = contractOwner;
   		
   		var orderLineContents = "";
   		var orderHeaderContents = "";
   		var orderConfirmContents = "";
   		
		orderLineContents += "<table class=\"list\" border=\"0\" cellspacing=\"0\" cellpadding=\"0\">" + 
	                           "<tr class=\"headerRow\">" + 
	                               "<th scope=\"col\" class=\"\">Appliance Model</th>" + 
	                               "<th scope=\"col\" class=\"\">Appliance Description</th>" + 
	                               "<th scope=\"col\" class=\"\">Users</th>" + 
	                               "<th scope=\"col\" class=\"\">Datasources</th>" + 
	                           "</tr>";
   		
   		for (var i=0;i<orderLineItems.length;i++) {
  			
  			var product = getProductInfo(orderLineItems[i]);
  			var productName = "Not Found";
  			var productDatasources = "Not Found";
  			var productId = "0000";
  			var productUsers = "Not Found";
  			
  			//if product was found, enter the info
  			if (product != null) {
  				productName = product.get("Name");
  				productId = product.get("Id");
  				
  				//check if there is a non default value specified for datasources or users
  				if (contractProdUsers == 0) {
  					productUsers = product.get("DefaultUsers__c");
  				} else {
  					productUsers = contractProdUsers;					
  				}
  				
  				if (contractProdDatasources == 0) {
  					productDatasources = product.get("DefaultNumberDatasources__c");
  				} else {
  					productDatasources = contractProdDatasources;
  				}
  			}
  			

  			//check if production datasources or users is overridden by the contract
  			orderLineContents += "<tr class=\" dataRow even first\"><td class=\" dataCell  \"><a href=\"#\" onClick=\"window.open(\"/" + productId + "\",\"orderWindow\",,)\">" + orderLineItems[i] + "</a></td><td class=\" dataCell  \">" + productName + "</td><td>" 
  								+ productUsers + "</td><td class=\" dataCell  \">" + productDatasources + "</td></tr>";
  		}
  		
  		orderLineContents += "</table>";
  		
  		//write line items contents
  		document.getElementById("orderLineItems").innerHTML = orderLineContents;

		
		//build list of technical contacts for this account (right now don't filter by tech contacts)
		var techContactsDropdown = "";
		var techContactQuery = "Select c.Id, c.AccountId, c.LastName, c.FirstName, c.MailingStreet," + 
								" c.MailingCity, c.MailingState, c.MailingPostalCode, " +
								" c.MailingCountry, c.Phone From Contact c where c.AccountId = '" + accountId + "'";
		
		var shipContactQuery = "Select c.Id, c.AccountId, c.LastName, c.FirstName, c.MailingStreet," + 
								" c.MailingCity, c.MailingState, c.MailingPostalCode, " +
								" c.MailingCountry, c.Phone From Contact c where c.AccountId = '" + accountId + "'";
		
		//build list of shipping contacts
		var techContacts = query(techContactQuery);
		var shipContacts = query(shipContactQuery);
		
	
		for (var i=0;i<techContacts.length;i++) {
			techContactsDropdown += "<option value=\"" + techContacts[i].get("Id") + "\">" + techContacts[i].get("FirstName") + " " + techContacts[i].get("LastName") + "</option>";
		}
		
		//finish formatting of dropdowns
		shipContactsDropdown = "<select name=\"shipContactDropdown\" onChange=\"populateShipInfo()\">" + 
									"<option value=\"none\">Not Sure</option>" +
									techContactsDropdown + "</dropdown>";
		
		document.getElementById("shipContactDropdown").innerHTML = shipContactsDropdown;
		
		techContactsDropdown = "<select name=\"techContactDropdown\">" + 
									"<option value=\"none\">Not Sure</option>" +
									techContactsDropdown + "</dropdown>";
									
		document.getElementById("techContactDropdown").innerHTML = techContactsDropdown;
   		
   		
   }
   
	function getProductInfo(v_productCode) {
		var productCode = v_productCode;
		
		//query salesforce for product code and description
		var productQuery = "Select p.Name, p.id, p.ProductCode, p.DefaultUsers__c, p.DefaultNumberDatasources__c From Product2 p where p.ProductCode = '" + productCode + "'";
		var products = query(productQuery);
		
		if (products.length == 1) {
			var product = products[0];
			return product;
			
		} else {
			return null;
		}
	}


    //returns variable of records from salesforce
    function query(queryString) {
    
    		queryString = queryString.trim();
    	
     	if (queryString.length == 0) {
     		return;
     	}
     	
     	var result = sforceClient.query(queryString); 
     	
     	if (result.className != "Fault") {
     		return result.records;
     	} else {
     		alert("There was an error: " + result.toString());
     	}
    	
    } 
    
    function processOrder() {
    	//create new order header bean to be saved
    	var orderHeader = new Sforce.Dynabean("order_header__c");
    	//set record type to purchase
    	orderHeader.set("RecordTypeId", "0125000000099dYAAQ");	
    	orderHeader.set("Account__c", accountId);
    	orderHeader.set("Contract__c", contractId);
    	
    	//technical contact
    	if (document.shipInfoForm.techContactDropdown.value != "none") {
    		orderHeader.set("Tech_Contact__c", document.shipInfoForm.techContactDropdown.value);
    	}
    	
    	//shipping info
    	orderHeader.set("Recipient_Name__c", document.shipInfoForm.shipName.value);
    	orderHeader.set("Shipping_Address__c", document.shipInfoForm.shipAddress.value);
    	orderHeader.set("Shipping_City__c", document.shipInfoForm.shipCity.value);
    	orderHeader.set("Shipping_State__c", document.shipInfoForm.shipState.value);
    	orderHeader.set("Shipping_Postal_Code__c", document.shipInfoForm.shipPostalCode.value);
    	orderHeader.set("Shipping_Country__c", document.shipInfoForm.shipCountry.value);
    	orderHeader.set("Phone__c", document.shipInfoForm.shipPhone.value);
    	
    	//need to get the ID from the recently created orderHeader
    	
    	var result = orderHeader.save();
    	var orderHeaderId = "";
    	
    	if (result.success == true) {
    		var orderHeaderId = result.id;
    		//create order line items that reference this order header, for each found order line item
    		
    		var orderHeader = new Sforce.Dynabean("order_header__c");
    		
    		for (var i=0;i<orderLineItems.length;i++) {
  			
		  			var product = getProductInfo(orderLineItems[i]);
		  			var productName = "Not Found";
		  			var productDatasources = "Not Found";
		  			var productId = "0000";
		  			var productUsers = "Not Found";
		  			
		  			//if product was found, enter the info
		  			if (product != null) {
		  				productName = product.get("Name");
		  				productId = product.get("Id");
		  				
		  				//check if there is a non default value specified for datasources or users
		  				if (contractProdUsers == 0) {
		  					productUsers = product.get("DefaultUsers__c");
		  				} else {
		  					productUsers = contractProdUsers;					
		  				}
		  				
		  				if (contractProdDatasources == 0) {
		  					productDatasources = product.get("DefaultNumberDatasources__c");
		  				} else {
		  					productDatasources = contractProdDatasources;
		  				}
		  			}
		  			
		  			var orderDetail = new Sforce.Dynabean("order_detail__c");
		  			orderDetail.set("Order_Header__c", orderHeaderId);
		  			orderDetail.set("Read_Datasources__c", productDatasources);
		  			orderDetail.set("Write_Datasources__c", productDatasources);
		  			//hardcoded value to set all license features to all
		  			orderDetail.set("License_Features__c", "All");
		  			orderDetail.set("Licensed_Users__c", productUsers);
		  			orderDetail.set("Product__c", productId);

					var orderDetailResult = orderDetail.save();		  			
					if (orderDetailResult.success != true) {
						alert(orderDetailResult);
					} else {
						//alert(orderDetailResult)
					}
		  	}
    		
    		alert("order header saved as " + orderHeaderId);
    		window.open("/" + orderHeaderId);
    		self.close();
    	} else {		//error has occurred
    	
    	}  	    	
    }
  	
    
	-->
	</script>

</head>
    <body onload="initPage()" class="contract  detailPage">
    <!-- Main Body Starts Here -->
    <div class="bPageHeader">

        
    </div>
    <table class="outer" width="100%" border="0" cellspacing="0" cellpadding="0">
        <!-- Start page content table -->
        <tr>
            <td class="oRight">
                <!-- Start page content --> 
                <a name="skiplink">
                <img src="/s.gif" height='1' width='1' alt="Content Starts Here" class="skiplink">
                </a>
                <div class="bPageTitle">
                    <div class="ptBody secondaryPalette">
                        <div class="content">
                            <img src="/s.gif" alt="Contract"  class="pageTitleIcon"><h1 class="pageType">IntApp RapidOrder
                            <span  class="titleSeparatingColon">
                            :
                            </span>
                            </h1><h2 class="pageDescription"><!-- Enter Contract Here --></h2>
                            <div class="blank">
                                &nbsp;
                            </div>
                        </div>
                        <div class="links">
                            <a href="#" class="configLinks">View Open Orders</a> | <a href="">
                            <span  class="helpLink">
                            View All Orders
                            </span>
                            </a>
                        </div>
                    </div>
                    <div class="ptBreadcrumb">
                        &nbsp;&#171;&nbsp;<a href="" onclick="window.close()">Return to Contract</a>
                    </div>
                </div>
                
                
                <div class="bPageBlock secondaryPalette" id="ep">
                    <div class="pbHeader">
                        <TABLE  cellpadding="0" cellspacing="0" border="0">
                            <TR>
                                <TD class="pbTitle"><img src="/s.gif" alt="" title="" width="1" height="1" class="minWidth">
                                    <h2 class="mainTitle">&nbsp;</h2></TD>

                            </TR>

                        </TABLE>
                    </div>
                    
                    <div class="pbBody">
	                    <div class="pbSubheader tertiaryPalette" id="head_01B30000001VaWc_ep">
	                            <img src="/s.gif" alt="Hide Section - Billing Information"  class="hideListButton" onclick="twistSection(this);" id="img_01B30000001VaWc" style="cursor:pointer;" name="Billing Information">
	                            <h3>Step 1: Is this the right contract?
	                            <span  class="titleSeparatingColon">
	                            :
	                            </span>
	                            </h3>
	                    </div>
                        <div class="pbSubsection">
                            <TABLE  class="detailList" cellpadding="0" cellspacing="0" border="0">
                                <TR>
                                    <TD class="labelCol last">&nbsp;</TD>
                                    <TD class="dataCol col02 last">&nbsp;</TD>
                                    <TD class="labelCol last">&nbsp;</TD>
                                    <TD class="dataCol last">&nbsp;</TD>
                                </TR>
                                <TR>
                                    <TD class="labelCol">Account Name</TD>
                                    <TD class="dataCol col02"><div id="accountName"></div></TD>                                    
                                </TR>
                                <TR>
                                    <TD class="labelCol">Contract Number</TD>
                                    <TD class="dataCol col02"><div id="contractNumber"></div></TD>
                                    
                                </TR>


                                <TR>
                                    <TD class="labelCol">Contract Owner</TD>
                                    <TD class="dataCol col02"><div id="contractOwner"></div></TD>
                                    
                                </TR>

                                <TR>
                                    <TD class="labelCol last">&nbsp;</TD>
                                    <TD class="dataCol col02 last">&nbsp;</TD>
                                    <TD class="labelCol last">&nbsp;</TD>
                                    <TD class="dataCol last">&nbsp;</TD>
                                </TR>
                            </TABLE>
                        </div>
                        <div class="pbSubheader tertiaryPalette" id="head_01B30000001VaWc_ep">
                            <img src="/s.gif" alt="Hide Section - Billing Information"  class="hideListButton" onclick="twistSection(this);" id="img_01B30000001VaWc" style="cursor:pointer;" name="Billing Information">
                            <h3>Step 2: Are the appliances, datasources, and users correct?
                            <span  class="titleSeparatingColon">
                            :
                            </span>
                            </h3>
                        </div>
                        <form name="shipInfoForm">
                        <div class="pbSubsection">
                       

									<div id="orderLineItems"></div>
                                
                        </div>
                        <div class="pbSubheader tertiaryPalette" id="head_01B30000001VaWc_ep">
                            <img src="/s.gif" alt="Hide Section - Billing Information"  class="hideListButton" onclick="twistSection(this);" id="img_01B30000001VaWc" style="cursor:pointer;" name="Billing Information">
                            <h3>Step 3: Do you know the main IntApp user and person receiving this appliance?
                            <span  class="titleSeparatingColon">
                            :
                            </span>
                            </h3>
                        </div>
                        <form name="shipInfoForm">
                        <div class="pbSubsection">
                            <TABLE  class="detailList" cellpadding="0" cellspacing="0" border="0">
                                <TR>
                                    <TD class="labelCol">Technical Contact</TD>
                                    <TD class="dataCol col02"><div id="techContactDropdown"></div></TD>
                                    <TD class="labelCol"></TD>
                                    <TD class="dataCol"></TD>
                                </TR>
								<TR>
                                    <TD class="labelCol">Shipping Contact</TD>
                                    <TD class="dataCol col02"><div id="shipContactDropdown"></div></TD>
                                    <TD class="labelCol"></TD>
                                    <TD class="dataCol"></TD>
                                </TR>

                                
                                
                            </TABLE>
                        </div>
                        
                        <div class="pbSubheader tertiaryPalette" id="head_01B30000001VaWc_ep">
                            <img src="/s.gif" alt="Hide Section - Billing Information"  class="hideListButton" onclick="twistSection(this);" id="img_01B30000001VaWc" style="cursor:pointer;" name="Billing Information">
                            <h3>Step 4: Do we have the shipping address?
                            <span  class="titleSeparatingColon">
                            :
                            </span>
                            </h3>
                        </div>
                        
                        <div class="pbSubsection">
                            <TABLE  class="detailList" cellpadding="0" cellspacing="0" border="0">
                                <TR>
                                    <TD class="labelCol">Name</TD>
                                    <TD class="dataCol col02"><input size=30 type=text name="shipName" id="shipName"></TD>
                                    <TD class="labelCol"></TD>
                                    <TD class="dataCol"></TD>
                                </TR>
								<TR>
                                    <TD class="labelCol">Address</TD>
                                    <TD class="dataCol col02"><textarea rows=3 cols=30 name="shipAddress" id="shipAddress"></textarea></TD>
                                    <TD class="labelCol"></TD>
                                    <TD class="dataCol"></TD>
                                </TR>
                                <TR>
                                    <TD class="labelCol">City</TD>
                                    <TD class="dataCol col02"><input size=20 type=text name="shipCity" id="shipCity"></TD>
                                    <TD class="labelCol"></TD>
                                    <TD class="dataCol"></TD>
                                </TR>
                                <TR>
                                    <TD class="labelCol">State or Province</TD>
                                    <TD class="dataCol col02"><input size=20 type=text name="shipState" id="shipState"></TD>
                                    <TD class="labelCol"></TD>
                                    <TD class="dataCol"></TD>
                                </TR>
                                <TR>
                                    <TD class="labelCol">Postal Code</TD>
                                    <TD class="dataCol col02"><input type=text size=15 name="shipPostalCode" id="shipPostalCode"></TD>
                                    <TD class="labelCol"></TD>
                                    <TD class="dataCol"></TD>
                                </TR>
                                <TR>
                                    <TD class="labelCol">Country</TD>
                                    <TD class="dataCol col02"><input type=text size=30 name="shipCountry" id="shipCountry"></TD>
                                    <TD class="labelCol"></TD>
                                    <TD class="dataCol"></TD>
                                </TR>
                                <TR>
                                    <TD class="labelCol">Phone</TD>
                                    <TD class="dataCol col02"><input type=text size=20 name="shipPhone" id="shipPhone"></TD>
                                    <TD class="labelCol"></TD>
                                    <TD class="dataCol"></TD>
                                </TR>
                                
                                
                            </TABLE>
                        </div>
                        
                        <div class="pbSubheader tertiaryPalette" id="head_01B30000001VaWc_ep">
                            <img src="/s.gif" alt="Hide Section - Billing Information"  class="hideListButton" onclick="twistSection(this);" id="img_01B30000001VaWc" style="cursor:pointer;" name="Billing Information">
                            <h3>Step 5: Let's hand this order to Post Sales!
                            <span  class="titleSeparatingColon">
                            :
                            </span>
                            
                            <input value=" Do It! "  class="btn" type="button" title="Edit" onclick="if (window.confirm('Are you sure?')) processOrder()" name="Create Order">
                            <input value=" Cancel "  class="btn" type="button" title="Delete" onclick="window.close()" name="del">
                            </h3>
                   </div>
                        </form>
                    </div>

                    <div class="pbFooter secondaryPalette">
                        <div class="bg">
                        </div>
                    </div>
                </div>
                


                <!-- End page content --></td>
        </tr>
    </table>
    </body>
</html>