<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Mass Convertor Splash Page</title>
<link href="/dCSS/Theme2/default/common.css" type="text/css" rel="stylesheet">
<script type="text/javascript" src="/js/functions.js"></script>
</head>
<body class="lead ">
<a name="skiplink"><img src="/s.gif" height='1' width='1' alt="Content Starts Here" class="skiplink"></a>
<div class="bPageTitle">
  <div class="ptBody secondaryPalette">
    <div class="content"><img src="/s.gif" alt="Lead"  class="pageTitleIcon">
      <h1 class="pageType">Mass Convertor</h1>
      <h2 class="pageType"><span class="pageDescription">By Salesforce.com</span></h2>
    </div>
  </div>
  <div class="ptBreadcrumb"></div>
</div>
<div class="bPageBlock bEditBlock secondaryPalette" id="ep">
  <div class="pbBody">
    <div class="pbSubheader first tertiaryPalette" id="head_1_ep"> <span class="pbSubExtra"> </span></span>
      <h3>About Mass Convertor<span  class="titleSeparatingColon">:</span></h3>
    </div>
    <div class="pbSubsection">
      <p>Mass Convertor provides the missing link when marketing to your existing Contacts. In the past, there was always the issue where known contacts end up as leads in your campaign and there was no simple way of matching them back to contacts on mass. This simple custom link on the Campaign Detail page lets you Mass Convert all leads. This is particularly useful when  mass HTML emailing to  existing contacts in conjunction with a web-to-lead form.</p>
      <p>Mass Convertor can be used in conjunction with HTML Emails where contact details can be embedded allowing for the following:</p>
      <ul>
        <li>HTML email with a button that allows recipients to  accept/decline and invitation. <a href="/servlet/servlet.ImageServer?oid=00D3000000007yR&amp;id=0155000000085W8" title="Example - Request Update" target="_blank">Example</a> </li>
        <li> HTML email with a user definable form for  Contact &quot;Request Upate&quot;. <a href="/servlet/servlet.ImageServer?oid=00D3000000007yR&id=0155000000085W7" title="Example - Request Update" target="_blank">Example</a> </li>
        <li>HTML email with a one click button allowing a recipient to easily request more information on a product or service. <a href="/servlet/servlet.ImageServer?oid=00D3000000007yR&id=0155000000085W6" title="Example - Contact Me" target="_blank">Example</a> </li>
      </ul>
    </div>
    <div class="pbSubheader tertiaryPalette" id="head_2_ep">
      <h3>Using Mass Convertor<span  class="titleSeparatingColon">:</span></h3>
    </div>
    <div class="pbSubsection">
      <table width="100%" border="0" cellspacing="2" cellpadding="0">
        <tr></tr>
        <tr>
          <td width="34%" valign="top"><img src="/servlet/servlet.ImageServer?oid=00D3000000007yR&amp;id=0155000000085Vt" alt="Mass Convertor Screenshop" width="337" height="233" /></td>
          <td width="66%"><table width="100%" border="0" cellspacing="2" cellpadding="0" class="detailList">
              <tr>
                <td  class="labelCol" width="33%">Record Owner</td>
                <td width="67%">This will be the record owner given to newly created Accounts, Contacts, Opportunities and Tasks. If the record owner is is left blank then the Account Owner will be assigned to newly created tasks. For all opportunities created, the owner will be the running user. </td>
              </tr>
              <tr>
                <td class="labelCol">Matching Method</td>
                <td>When trying to match a lead with an existing Account and Contact then the combination of Email/Contact Name/Account Name that is selected will be used for matching purposes. </td>
              </tr>
              <tr>
                <td class="labelCol">Convert Matched Leads Only</td>
                <td>If selected, then only those leads that have a coresponding Account/Contact will be converted. </td>
              </tr>
              <tr>
                <td class="labelCol">Remove Campaign Duplicates</td>
                <td>If Remove Campaign Duplicates is selected then a check will be run over all leads that are in the current campaign. If more than one lead is located based on the Matching Method selected above then only the lead with the most recent date is kept, the others are removed. Duplicate leads of this kind could happen if a recipient registers their interest multiple times. </td>
              </tr>
              <tr>
                <td class="labelCol">From Status</td>
                <td>Select &quot;*ALL*&quot; if all status's are to be converted, otherwise select the appropriate one from the drop down list option. Specifying of a from status would be useful in the example of an invitation being sent out for an event. It may be the desire to only convert those people that have accepted the invite.</td>
              </tr>
              <tr>
                <td class="labelCol">Converted Status</td>
                <td>This is the status that the leader will be changed to after the lead is converted. </td>
              </tr>
              <tr>
                <td class="labelCol">Opportunity Create</td>
                <td>If selected then an Opportunity is not created. If NOT selected then an opportunity is created for every lead converted. 
                  <br />
                  <br />
                If an opportunity is created then the opportunity name will be the Account Name - Campaign Name.</td>
              </tr>
              <tr>
                <td class="labelCol">Task Information</td>
                <td>This section is optional. However, if a subject is entered then a Task will be created for every lead converted. The task owner will be the user entered in the &quot;Record Owner&quot; Section above. </td>
              </tr>
            </table></td>
        </tr>
      </table>
    </div>
    <div class="pbSubheader tertiaryPalette" id="head_2_ep">
      <h3>Business Process Flows with Mass Convertor<span  class="titleSeparatingColon">:</span></h3>
    </div>
    <div class="pbSubsection">
      <table width="100%" border="0" cellspacing="2" cellpadding="0">
        <tr>
          <td align="center"><img src="/servlet/servlet.ImageServer?oid=00D3000000007yR&amp;id=0155000000085Vu" alt="Initiate" width="149" height="98" /></td>
          <td align="center"><img src="/servlet/servlet.ImageServer?oid=00D3000000007yR&amp;id=0155000000085Vv" alt="Identify" width="149" height="98" /></td>
          <td align="center"><img src="/servlet/servlet.ImageServer?oid=00D3000000007yR&amp;id=0155000000085Vx" alt="Send" width="149" height="98" /></td>
          <td align="center"><img src="/servlet/servlet.ImageServer?oid=00D3000000007yR&amp;id=0155000000085Vy" alt="Respond" width="149" height="98" /></td>
          <td align="center"><img src="/servlet/servlet.ImageServer?oid=00D3000000007yR&amp;id=0155000000085Vw" alt="Convert" width="149" height="98" /></td>
          <td align="center"><img src="/servlet/servlet.ImageServer?oid=00D3000000007yR&amp;id=0155000000085Vz" alt="Measure" width="149" height="98" /></td>
        </tr>
        <tr>
          <td valign="top"><ul>
            <li>Add campaign details</li>
            <li>Setup member status</li>
            <li>Create HTML email template </li>
          </ul></td>
          <td valign="top"><ul>
            <li>Advance options - Import from file or contacts</li>
            <li>Add from Contact Report </li>
          </ul></td>
          <td valign="top"><ul>
            <li>Mass email contacts </li>
          </ul></td>
          <td valign="top"><ul>
            <li>Contact clicks on button in HTML email to respond</li>
            <li>Or contact fills in web-to-lead form (recommended for text emails) </li>
          </ul></td>
          <td valign="top"><ul>
            <li>Once all responses are in run Mass Convertor </li>
          </ul></td>
          <td valign="top"><ul>
            <li>Campaign Reports</li>
            <li>Dashboards </li>
            <li>Contact Reports </li>
          </ul></td>
        </tr>
      </table>
 
    </div>
    <div class="pbSubheader tertiaryPalette" id="head_3_ep">
      <h3>Further Reading<span  class="titleSeparatingColon">:</span></h3>
    </div>
    <div class="pbSubsection">

      <table width="100%" border="0" cellspacing="2" cellpadding="0" class="detailList">
        <tr>
          <td valign="top"><a href="https://emea.salesforce.com/help/doc/user_ed_feature.jsp?feature=campaigns" target="_blank">Online Help for Campaingns</a></td>
          <td valign="top"><a href="javascript:openPopupFocus('http://salesforce.breezecentral.com/campaign', '_blank', 900, 550, 'width=900,height=550,resizable=yes,toolbar=no,status=no,scrollbars=yes,menubar=no,directories=no,location=no,dependant=no', false, true);">Online Training for Campaigns </a></td>
          <td valign="top"><a href="javascript:openPopupFocus('/setup/pmiab/salesforce_rollout_guide.jsp', 'srg', 742, 500, 'width=742,height=500,resizable=no,toolbar=no,status=no,scrollbars=yes,menubar=no,directories=no,location=no,dependant=no', false, false);">CRM Rollout guide </a></td>
        </tr>

        <tr>
          <td width="33%" height="38" valign="top"><a href="https://na1.salesforce.com/servlet/servlet.FileDownloadPkb?orgId=00D000000000062&pPid=5013000000009VZ&file=00P30000000kwrR" target="_blank">Tip sheet for creating HTML emails</a></td>
          <td width="33%" valign="top">Review the following documents that are located in your documents tab, folder - Mass Convertor:
            <ul>
              <li>HTML emails with buttons</li>
              <li>Images within HTML emails  </li>
          </ul></td>
          <td width="33%" valign="top">Check out the sample HTML Emails in your Mass Convertor email folder</td>
        </tr>
      </table>
      <p>&nbsp;</p>
      <p>&nbsp;      </p>
    </div>
  </div>
  <div class="pbFooter secondaryPalette">
    <div class="bg"></div>
  </div>
</div>
</body>
</html>