<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
	<head>
    <title>RapidOrder Validation</title>
    <link  href="/dCSS/Theme2/default/common.css" type="text/css" media="handheld,print,projection,screen,tty,tv" rel="stylesheet" >
    <link  href="/dCSS/Theme2/default/custom.css" type="text/css" media="handheld,print,projection,screen,tty,tv" rel="stylesheet" >
    <link  href="/css/assistive.css" type="text/css" media="aural,braille,embossed" rel="stylesheet" >
    <script language="javascript" src="https://www.salesforce.com/services/lib/ajax/beta3.3/sforceclient.js?browser=true" type="text/javascript"></script>
    <link rel="shortcut icon" href="https://na3.salesforce.com/favicon.ico">
    
    <script>
	<!--
		
	
		var orderHeaderId = "";
		var orderAccountId = "";
		var orderShipName = "";
		var orderShipAddress = "";
		var orderShipCity = "";
		var orderShipState = "";
		var orderShipPostalCode = "";
		var orderShipPhone = "";
		var orderRecordTypeId = "";
		
		function initPage() {
       		sforceClient.registerInitCallback(setup);
       		sforceClient.init("{!API_Session_ID}", "https://na3.salesforce.com/services/Soap/u/7.0", true);       
    	}
    	
    	function setup() {      
      		getParams(); 
      		validate();      
    	}
		
		function getParams() {
			orderHeaderId = "{!Order_Header_ID}";
			
			var queryString = "Select o.Id, o.OwnerId, o.Name, o.RecordTypeId, o.CreatedDate, o.CreatedById, o.LastModifiedDate, " + 
				"o.LastModifiedById, o.SystemModstamp, o.Shipping_Address__c, o.Shipping_State__c, o.Shipping_Postal_Code__c, " +
				"o.Shipping_City__c, o.Shipping_Country__c, o.Recipient_Name__c, o.Tech_Contact__c, o.Case__c, o.Status__c, " +
				"o.Contract__c, o.Account__c, o.Phone__c From Order_Header__c o where id = " + orderHeaderId;
			
			sforceClient.query(queryString, processOrderQuery);
			
			
		}
		
		function processOrderQuery(result) {
			if (result.className == "Fault") {
				alert("There was an error: " + result.toString());
			} else {
				if (result.records.size != 1) {
					//could not find any records
				} else {
					var foundOrder = result.records[0];
					orderAccountId = foundOrder.get("Account__c");
					orderShipName = foundOrder.get("Recipient_Name__c");
					orderShipAddress = foundOrder.get("Shipping_Address__c");
					orderShipCity = foundOrder.get("Shipping_City__c");
					orderShipState = foundOrder.get("Shipping_State__c");
					orderShipPostalCode = foundOrder.get("Shipping_Postal_Code__c");
					orderShipPhone = foundOrder.get("Phone__c");
					orderRecordTypeId = foundOrder.get("RecordTypeId");
				}
			}
		
		/*
			orderAccountId = "{!Order_Header_Account_ID}";
			orderShipName = "{!Order_Header_Recipient_Name}";
			orderShipAddress = "{!Order_Header_Shipping_Address}";
			orderShipCity = "{!Order_Header_Shipping_City}";
			orderShipState = "{!Order_Header_Shipping_State}";
			orderShipPostalCode = "{!Order_Header_Shipping_Postal_Code}";
			orderShipPhone = "{!Order_Header_Phone}";
			orderRecordTypeId = "{!Order_Header_RecordType_ID}";
		*/	
		}
		
		function validateShippingInfo() {
		
			var validShippingInfo = false;
			
			
		}
		
		//checks the presence of an accountId
		function validateAccount() {
			if (orderAccountId != "") {
				return true;
			}
		}
		
		function validateOther() {
			if (validateAccount()) {
				document.getElementById("accountIdValidity").innerHTML = "valid";
			} else {
				document.getElementById("accountIdValidity").innerHTML = "invalid";
			}
		}
		
		function validate() {
			//process type of other
			if (orderRecordTypeId == "0125000000097wTAAQ") {
				validateOther();
			}
		}
		
		
		
	-->
	</script>
	</head>
	<body onload="initPage()" class="contract  detailPage">
    <!-- Main Body Starts Here -->
    <div class="bPageHeader">

        
    </div>
    <table class="outer" width="100%" border="0" cellspacing="0" cellpadding="0">
        <!-- Start page content table -->
        <tr>
            <td class="oRight">
                <!-- Start page content --> 
                <a name="skiplink">
                <img src="/s.gif" height='1' width='1' alt="Content Starts Here" class="skiplink">
                </a>
                <div class="bPageTitle">
                    <div class="ptBody secondaryPalette">
                        <div class="content">
                            <img src="/s.gif" alt="Contract"  class="pageTitleIcon"><h1 class="pageType">RapidOrder Validation
                            <span  class="titleSeparatingColon">
                            :
                            </span>
                            </h1><h2 class="pageDescription"><!-- Enter Contract Here --></h2>
                            <div class="blank">
                                &nbsp;
                            </div>
                        </div>
                        <div class="links">
                            <a href="#" class="configLinks">View Open Orders</a> | <a href="">
                            <span  class="helpLink">
                            View All Orders
                            </span>
                            </a>
                        </div>
                    </div>
                    <div class="ptBreadcrumb">
                        &nbsp;&#171;&nbsp;<a href="" onclick="window.close()">Return to Contract</a>
                    </div>
                </div>
                
                
                <div class="bPageBlock secondaryPalette" id="ep">
                    <div class="pbHeader">
                        <TABLE  cellpadding="0" cellspacing="0" border="0">
                            <TR>
                                <TD class="pbTitle"><img src="/s.gif" alt="" title="" width="1" height="1" class="minWidth">
                                    <h2 class="mainTitle">&nbsp;</h2></TD>

                            </TR>

                        </TABLE>
                    </div>
                    
                    <div class="pbBody">
	                    <div class="pbSubheader tertiaryPalette" id="head_01B30000001VaWc_ep">
	                            <img src="/s.gif" alt="Hide Section - Billing Information"  class="hideListButton" onclick="twistSection(this);" id="img_01B30000001VaWc" style="cursor:pointer;" name="Billing Information">
	                            <h3>Overview
	                            <span  class="titleSeparatingColon">
	                            :
	                            </span>
	                            </h3>
	                    </div>
                        <div class="pbSubsection">
                            <TABLE  class="detailList" cellpadding="0" cellspacing="0" border="0">
                                <TR>
                                    <TD class="labelCol last">&nbsp;</TD>
                                    <TD class="dataCol col02 last">&nbsp;</TD>
                                    <TD class="labelCol last">&nbsp;</TD>
                                    <TD class="dataCol last">&nbsp;</TD>
                                </TR>
                                <TR>
                                    <TD class="labelCol">Shipping Information</TD>
                                    <TD class="dataCol col02"><div id="shipInfoValidity"></div></TD>                                    
                                </TR>
                                <TR>
                                    <TD class="labelCol">Account</TD>
                                    <TD class="dataCol col02"><div id="accountIdValidity"></div></TD>
                                    
                                </TR>
                                <TR>
                                    <TD class="labelCol">Technical Contact</TD>
                                    <TD class="dataCol col02"><div id="techContactValidity"></div></TD>
                                    
                                </TR>

                                <TR>
                                    <TD class="labelCol">Line Items</TD>
                                    <TD class="dataCol col02"><div id="lineItemsValidity"></div></TD>
                                    
                                </TR>

                                <TR>
                                    <TD class="labelCol last">&nbsp;</TD>
                                    <TD class="dataCol col02 last">&nbsp;</TD>
                                    <TD class="labelCol last">&nbsp;</TD>
                                    <TD class="dataCol last">&nbsp;</TD>
                                </TR>
                            </TABLE>
                        </div>

                        <div class="pbSubheader tertiaryPalette" id="head_01B30000001VaWc_ep">
                            <img src="/s.gif" alt="Hide Section - Billing Information"  class="hideListButton" onclick="twistSection(this);" id="img_01B30000001VaWc" style="cursor:pointer;" name="Billing Information">
                            <h3>Step 5: Let's hand this order to Post Sales!
                            <span  class="titleSeparatingColon">
                            :
                            </span>
                            
                            <input value=" Do It! "  class="btn" type="button" title="Edit" onclick="if (window.confirm('Are you sure?')) processOrder()" name="Create Order">
                            <input value=" Cancel "  class="btn" type="button" title="Delete" onclick="window.close()" name="del">
                            </h3>
                   </div>
                        </form>
                    </div>

                    <div class="pbFooter secondaryPalette">
                        <div class="bg">
                        </div>
                    </div>
                </div>
                


                <!-- End page content --></td>
        </tr>
    </table>
    </body>
</html>